table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.status-open {
  color: gray;
  font-weight: bold;
}

.status-picked-up {
  color: blue;
  font-weight: bold;
}

.status-in-transit {
  color: orange;
  font-weight: bold;
}

.status-delivered {
  color: green;
  font-weight: bold;
}

.status-failed {
  color: red;
  font-weight: bold;
}

.location-container {
  display: flex;
  align-items: center;
}

.location-container mat-icon {
  margin-right: 8px;
  color: #0070f3;
}

.location-details {
  display: flex;
  flex-direction: column;
}

.location-details div {
  margin: 2px 0;
}
