.success-message {
  color: green;
  margin-top: 10px;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.package-form {
  color: aliceblue;
  padding: 20px;
}

.center-title {
  text-align: center;
}

.mat-form-field {
  margin: 10px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 47%;
  margin: 5px;
}

.form-custom {
  width: 31%;
}

.example-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-block,
.button-block {
  margin: 8px 0;
}

.input-block {
  flex: 1 1 80%;
}

.button-block {
  flex: 1 1 20%;
}

button {
  margin: 10px;
  padding: 20px;
  min-width: 200px;
  background-color: blueviolet;
  border-style: hidden;
  color: antiquewhite;
  font-size: medium;
}
