<div *ngIf="delivery">
    <h2>Détails de la livraison</h2>
    <p><strong>ID:</strong> {{ delivery.id_ }}</p>
    <p><strong>Heure de début:</strong> {{ delivery.start_time }}</p>
    <p><strong>Heure de fin:</strong> {{ delivery.end_time }}</p>
    <p><strong>Statut:</strong> {{ delivery.status }}</p>
    <p><strong>Heure de ramassage:</strong> {{ delivery.pickup_time }}</p>
    
    <h3>Emplacement</h3>
    <p><strong>Logitude:</strong> {{ delivery.location.lat }}</p>
    <p><strong>Latitude:</strong> {{ delivery.location.lng }}</p>
  
    <h3>Paquets</h3>
    <ul>
      <li *ngFor="let pkg of delivery.package">
        <strong>ID:</strong> {{ pkg.id_ }} - <strong>Poids:</strong> {{ pkg.weight }} kg - <strong>Dimensions:</strong> {{ pkg.width }} x {{ pkg.height }} x {{ pkg.depth }} cm
      </li>
    </ul>
  
    <p><strong>Créé le:</strong> {{ delivery.createdAt }}</p>
    <p><strong>Mis à jour le:</strong> {{ delivery.updatedAt }}</p>
  </div>