<mat-card class="delivery-detail" *ngIf="delivery">
  <mat-card-header>
    <mat-card-title>Delivery Detail</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="detail-item">
      <strong>ID:</strong> {{ delivery._id }}
    </div>
    <div class="detail-item">
      <strong>Status:</strong>
      <span [ngClass]="getStatusClass(delivery.status!)">{{ delivery.status }}</span>
    </div>
    <div class="detail-item">
      <strong>PickUp Date:</strong> {{ delivery.pickup_time | date: 'medium' }}
    </div>
    <div class="detail-item">
      <strong>Start Time:</strong> {{ delivery.start_time | date: 'medium' }}
    </div>
    <div class="detail-item">
      <strong>End Time:</strong> {{ delivery.end_time | date: 'medium' }}
    </div>
    <div class="detail-item">
      <strong>Location:</strong>
      <div class="location-container">
        <mat-icon>place</mat-icon>
        <div class="location-details">
          <div>Latitude: {{ delivery.location.lat }}</div>
          <div>Longitude: {{ delivery.location.lng }}</div>
        </div>
      </div>
    </div>
    <div class="detail-item">
      <strong>Created At:</strong> {{ delivery.createdAt | date: 'medium' }}
    </div>
    <div class="detail-item">
      <strong>Updated At:</strong> {{ delivery.updatedAt | date: 'medium' }}
    </div>
  </mat-card-content>
</mat-card>
