table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}


.location-container {
  display: flex;
  align-items: center;
}

.location-container mat-icon {
  margin-right: 8px;
  color: #0070f3;
}

.location-details {
  display: flex;
  flex-direction: column;
}

.location-details div {
  margin: 2px 0;
}
