
<main class="main">
    <div class="content">
    <!-- Add Product Button -->
    <!-- Package Section -->
    <div class="row wrap gap-2 space-between">
      <app-package
      [packageList]="packages"
        (edit)="toggleEditPopup($event)"
        (delete)="toggleDeletePopup($event)"
      ></app-package>
    </div> 
    <div class="row wrap gap-2 space-between">
        <button
          type="button"
          pButton
          icon="pi pi-plus"
          (click)="toggleAddPopup()"
          label="Add Package"
          class="add-product-btn"
        ></button>
    </div> 
</div>
</main>
  <!-- Edit Product -->
  <!-- <app-edit-popup
    [product]="selectedProduct"
    [(display)]="displayEditPopup"
    (confirm)="onConfirmEdit($event)"
    header="Edit Product"
  ></app-edit-popup> -->
  
  <!-- Add Product -->
  <!-- <app-edit-popup
    [(display)]="displayAddPopup"
    (confirm)="onConfirmAdd($event)"
    header="Add Package"
  ></app-edit-popup> -->

